{%extends "base.html"%}
{%block content%}

<link rel="stylesheet" href="{{url_for('static',filename='info.css')}}">
{% with msg = get_flashed_messages(with_categories=true) %}
      {% if msg %}
        <div class="flash-messages mt-3 mb-3">
          {% for category, message in msg %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message | safe }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
<h1>Name: {{pname.capitalize()}}</h1>
<img src="{{img}}" class="img-fluid" alt="...">
<h1>{{pname.capitalize()}} id: {{id}}</h1>

<h1>Height: {{height}}</h1>
<h1>Weight: {{weight}}</h1>
<div>
<a class="btn btn-primary" href="/">Back to search</a>
</div>
<!-- From Uiverse.io by AKAspidey01 --> 

{%if pname not in session['fav_pokemon']%}
<form action="{{url_for('fav_pokemon',pname=pname)}}" method="POST">
<button class="fav-btn" type="submit">
    <div class="fav-glow"></div>
    
    <div class="fav-icon-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="heart-svg">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
        </svg>
    </div>
    
    <span class="fav-text">Add to Favorites</span>
</button>
</form>



{%else%}
{% with msg = get_flashed_messages(with_categories=true) %}
      {% if msg %}
        <div class="flash-messages mt-3 mb-3">
          {% for category, message in msg %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message | safe }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}



<form action="{{url_for('delete_fav',pname=pname)}}" method="POST">
<button class="button" type="submit">
    <!-- <div class="fav-glow"></div>
    
    <div class="fav-icon-box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="heart-svg">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
        </svg>
    </div>
    
    <span class="fav-text">Delete from Favorites</span> -->

    <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
</button>
</form>



{%endif%}








{%endblock%}